#settings {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  width: 400px;
  height: 150px;
  margin: 16px;
  padding: 5px;
  border-radius: 2px;
}

#notwoFApanel {
  padding: 8px;
  background: white;
  margin: 8px;
}

#twoFApanel {
  padding: 8px;
  margin: 8px;
  background: white;
}

#browsertable {
  margin: 10px;
  display: table;
}

.topspace {
  margin-top: 10px;
}
.cell {
  display: table-cell;
  float: left;
}

.row {
  display: table-row;
}

#twofa {
  padding: 5px;
}

#username {
  padding: 5px;
}
paper-input {
  width: 100%;
}

paper-button.white {
  background: white;
  border-radius: 10%;
  min-width: 2em;
}

#loginlabel {
  padding: 5px;
}

#allowedlabel {
  padding: 5px;
}