paper-tabs {
  background-color: #00bcd4;
}

core-pages {
  background-color: white;
}

.settingscard {
  padding: 5px;
}

.settingscard .label {
  padding: 5px;
}
.settingscard .labeltext {
}
.settingscard .widget {
  min-width: 10em;
}

.settingscard .labelhelp {
  color: grey;
  font-style: italic;
  font-variant:small-caps;
  font-size: 0.9em;
}

.settingscard .hostkey {
  padding: 5px;
  border: 1px solid #ddd;
}

textarea {
  font-family: monospace;
  color: #aaa;
}

#actionbar {
  padding: 10px;
}