.settingscard {
  padding: 5px;
}

.settingscard .label {
  padding: 5px;
}
.settingscard .labeltext {
}
.settingscard .widget {
  min-width: 10em;
}

.settingscard .labelhelp {
  color: grey;
  font-style: italic;
  font-variant:small-caps;
  font-size: 0.9em;
}

.zoneelement {
  padding: 5px;
  background: white;
  border-bottom: 1px solid #ddd;
}

#zonelist {
  margin: 20px;
 
}

#addzone {
  position: absolute;
  bottom: 20px;
  right: 20px;
}