.settingscard {
  padding: 5px;
  background: white;
}

.settingscard .label {
  padding: 5px;
}
.settingscard .labeltext {
}
.settingscard .widget {
  min-width: 20em;
  text-align: right;
  margin-right: 5px;
}

.settingscard .labelhelp {
  color: grey;
  font-style: italic;
  font-variant:small-caps;
  font-size: 0.9em;
}

.zoneelement {
  padding: 5px;
  background: white;
  border-bottom: 1px solid #ddd;
}

#zonelist {
  margin: 20px;
  margin-right: 150px;
 
}

#addzone {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

textarea {
  font-family: monospace;
  color: #aaa;
  width: 70%;
  height: 100px;
}
