#users {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
  overflow:auto;
  border-radius: 2px;
  height: 100%;
}

.initial {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  text-align: center;
  margin: 5px;
}

.initialKey {
  padding-top: 0.4em;
}

.userline {
  border-bottom: 1px solid #eee;
}
.userid {
  font-weight: bold;
}
.username {
  font-style: italic;
  font-size: 0.9em;
}
.useraliases {
  font-style: italic;
  font-size: 0.9em;
  font-family: monospace;
}
#adduser {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

